<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Template CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- fontawwsome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Gallery -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    <link rel="stylesheet" href="css/compact-gallery.css">

    <!-- Scrooll Animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <link rel="icon" href="favicon.png" sizes="16x16" type="image/png">


    <title>Our Project - Naing Group</title>
</head>

<body>

    <a href="#0" class="cd-top js-cd-top cd-top--fade-out cd-top--show">Top</a>


    <!-- infonav bar -->
    <div class="bg-gray">
        <div class="container">
            <div class="row p-2">
                <div class="col-12">

                    <ul class="nav m-2 social-bar justify-content-end">
                        <div class="mx-4">
                            <i class="fab fa-facebook-f mx-2"></i>
                            <i class="fab fa-google-plus-g mx-2"></i>
                            <i class="fab fa-twitter mx-2"></i>
                        </div>

                        <div class="mx-4">
                            <i class="fas fa-phone mx-2"><span class="phone">+951 248 082</span></i>
                        </div>

                        <div class="mx-4">
                            <i class="far fa-envelope-open mx-2"><span class="phone">example@help.com</span></i>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-yellow">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="images/logo.png" alt=""></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about-us.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="our-mindstone.html">Our Mindstone</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="our-people.html">Our People</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="csr.html">CSR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="our-project.html">Our Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="business-units.html">Our Business Units</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="faq.html">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contactus.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Breadcrumb Bar -->
    <section class="bg-gray">
        <div class="container pt-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Our Project</li>
                </ol>
            </nav>
        </div>
    </section>

    <div class="container my-3">
        <div class="row p-3" data-aos="fade-left">
            <div class="col-md-12">
                <h2 class="title my-5">Our Project</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <figure class="" data-aos="fade-right">
                    <a href="project-name.html">
                        <img src="images/erc.jpg" class="img-fluid" alt="A generic square placeholder image with rounded corners in a figure.">
                        <figcaption class="figure-caption">ERC Project</figcaption>
                    </a>
                </figure>

            </div>

            <div class="col-md-8">
                <figure class="" data-aos="fade-left">
                    <a href="">
                        <img src="images/bridge.jpg" class="img-fluid" alt="A generic square placeholder image with rounded corners in a figure.">
                        <figcaption class="figure-caption">A caption for the above image.</figcaption>
                    </a>
                </figure>
            </div>

            <div class="col-md-8">
                <figure class="" data-aos="fade-right">
                    <a href="">
                        <img src="images/hospital.jpg" class="img-fluid" alt="A generic square placeholder image with rounded corners in a figure.">
                        <figcaption class="figure-caption">A caption for the above image.</figcaption>
                    </a>
                </figure>
            </div>

            <div class="col-md-4">
                <figure class="" data-aos="fade-left">
                    <a href="">
                        <img src="images/kbz.jpg" class="img-fluid" alt="A generic square placeholder image with rounded corners in a figure.">
                        <figcaption class="figure-caption">ERC Project</figcaption>
                    </a>
                </figure>

            </div>

            <div class="col-md-4">
                <figure class="" data-aos="fade-left">
                    <a href="">
                        <img src="images/merchant.jpg" class="img-fluid" alt="A generic square placeholder image with rounded corners in a figure.">
                        <figcaption class="figure-caption">ERC Project</figcaption>
                    </a>
                </figure>

            </div>

            <div class="col-md-8">
                <figure class="" data-aos="fade-right">
                    <a href="">
                        <img src="images/gv.jpg" class="img-fluid" alt="A generic square placeholder image with rounded corners in a figure.">
                        <figcaption class="figure-caption">A caption for the above image.</figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-12">
                <figure class="" data-aos="fade-down">
                    <a href="">
                        <img src="images/sule-tower.jpg" class="img-fluid" alt="A generic square placeholder image with rounded corners in a figure.">
                        <figcaption class="figure-caption">A caption for the above image.</figcaption>
                    </a>
                </figure>
            </div>

        </div>

    </div>


    <!-- footer -->
    <section class="footer-info">
        <div class="container footer-info">
            <div class="row py-4 mx-2">
                <div class="col-lg-3 col-md-6 py-2">
                    <div class="row d-flex justify-content-center footer-line py-3">
                        <div class="col-3 align-self-center"><i class="fas fa-2x fa-map-marker"></i></div>
                        <div class="col-9">
                            <h6>ADDRESS</h6>
                            <p class="footer-text">No.117/127, 33rd Street, Kyauktadar Tsp Yangon.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 py-2">
                    <div class="row d-flex justify-content-center footer-line py-3">
                        <div class="col-3 align-self-center"><i class="fas fa-2x fa-mobile-alt"></i></div>
                        <div class="col-9">
                            <h6>PHONE</h6>
                            <p class="footer-text">+951 248 082, <br>256 047, 381 707
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 py-2">
                    <div class="row d-flex justify-content-center footer-line py-3">
                        <div class="col-3 align-self-center"><i class="fas fa-2x fa-map-marker"></i></div>
                        <div class="col-9">
                            <h6>Email</h6>
                            <p class="footer-text">info@nainggroup.com <br> info@nainggroup.com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 py-2">
                    <div class="row d-flex justify-content-center footer-line py-3">
                        <div class="col-3 align-self-center"><i class="fas fa-2x fa-map-marker"></i></div>
                        <div class="col-9">
                            <h6>OFFICE HOURS</h6>
                            <p class="footer-text">9:00 a.m - 5:00 p.m
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="footer-bar">
        </div>

        <div class="bg-gray py-2">
            <div class="container">
                <p class="copy my-2">©2018 by Naing Group | Web Developer : UpSalute, Myanmar.</p>
            </div>
        </div>
    </section>


    <!-- Optional JavaScript -->
    <script src="js/backtotop.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.compact-gallery', {
            animation: 'slideIn'
        });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        $('.carousel').carousel({
            interval: 4000
        })
    </script>

    <script>
        AOS.init();
        AOS.init({
            // Global settings:
            disable: false,
            startEvent: 'DOMContentLoaded',
            initClassName: 'aos-init',
            animatedClassName: 'aos-animate',
            useClassNames: false,
            disableMutationObserver: false,
            debounceDelay: 50,
            throttleDelay: 99,
            offset: 200,
            delay: 50,
            duration: 1000,
            easing: 'ease',
            once: true,
            mirror: false,
            anchorPlacement: 'top-bottom',

        });
    </script>

</body>

</html>